:root {
  --color-white: white;
  --color-black: black;
  --bg-color: rgb(168, 232, 243);
  --bg-color-darker: rgb(131, 228, 245);
  --bg-color-active: rgba(233, 250, 250, 0.8);
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  margin: 2px;
}
/* responsive grid style */
.item-1 {
  grid-area: logo;
  background-color: var(--bg-color-darker);
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
}
.item-2 {
  grid-area: navbar;
  background-color: var(--bg-color-darker);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.item-3 {
  grid-area: header;
  background-color: var(--bg-color-darker);
  text-align: center;
  padding: 20px;
}
.item-456 {
  grid-area: cards;
  overflow: auto;
}

.item-7 {
  grid-area: pagination;
  background-color: var(--bg-color-darker);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-8 {
  grid-area: main;
  overflow: hidden;
}
.item-9 {
  grid-area: foot;
  background-color: var(--bg-color-darker);
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 80px auto 80px 500px 60px;
  grid-template-areas:
    "logo logo navbar navbar navbar navbar"
    "header header header header header header"
    "cards cards cards cards cards cards"
    "pagination pagination pagination pagination pagination pagination"
    "main main main main main main"
    "foot foot foot foot foot foot";
}
/* navigation menu style */
#burger {
  height: 30px;
  width: 35px;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right: 25px;
  top: 1rem;
  cursor: pointer;
}

#burger span {
  height: 4px;
  width: 30px;
  margin: 2px;
  background-color: var(--color-black);
}
.navbar-menu {
  display: flex;
}
.navbar-menu a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: var(--color-black);
  transition: 0.6s;
}
.navbar-menu a:hover {
  background-color: var(--bg-color-active);
}
/* info cards content style */
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(white, rgb(127, 247, 247));
  height: 100%;
}
[data-info-cards] {
  width: 25vw;
  height: 100%;
  box-shadow: 10px 10px 5px grey;
  border: 1px solid grey;
}
[data-cards-img] {
  display: flex;
  justify-content: center;
}

[data-cards-txt] li {
  padding: 10px 0px;
  list-style: none;
}
[data-info-cards="2"] {
  background-image: linear-gradient(azure, dodgerblue);
}
[data-info-cards="3"] {
  background-image: linear-gradient(azure, rgb(255, 233, 30));
}

/* pagination */
.item-7 a {
  text-decoration: none;
  padding: 20px;
  font-size: 22px;
  font-weight: bold;
  transition: 0.6s;
}
.item-7 a:hover,
.item-7 a.active {
  background-color: var(--bg-color-active);
}
.main {
  max-width: 100%;
  height: 100%;
  display: none;
}
.main.active {
  display: block;
}

[data-img] {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
[data-img="1"] {
  background-image: url("img/html-css-js-logo.jpg");
}
[data-img="2"] {
  background-image: url("img/whatIsHtml.jpg");
}
[data-img="3"] {
  background-image: url("img/js-wall1.jpg");
}
[data-img="4"] {
  background-image: url("img/js-wall2.jpg");
}
/* footer */
.item-9 p {
  text-align: center;
}

/* responsive web page */
@media (max-width: 760px) {
  .gridbox {
    grid-template-areas:
      "logo logo logo navbar navbar navbar"
      "header header header header header header"
      "cards cards cards cards cards cards"
      "pagination pagination pagination pagination pagination pagination"
      "main main main main main main"
      "foot foot foot foot foot foot";
    grid-template-rows: 80px 80px auto 80px 500px 60px;
  }
  .navbar-menu {
    background-color: var(--bg-color-darker);
    width: calc(100vw - 36px);
    height: 100vh;
    text-align: center;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
  }
  #burger {
    display: flex;
  }
  .info {
    flex-direction: column;
    width: 100%;
  }
  [data-info-cards] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
  }
}
